.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
color:red;
}
canvas
{
box-shadow: 10px 10px 10px rgb(31, 127, 238);
border-radius: 10px;
}
.btn-primary
{
    margin:30px;
}
body{
    background-size:cover;
}
#home
{
    bottom:0;
    width:100%;
    position:fixed;
}